<mat-list class="pageListCar" fxLayoutAlign="none center"  fxLayout="column">
  <h3 mat-subheader>
    Listes des voitures
    <!--Bouton plus pour ajouter un lieu-->
    <mat-icon mat-list-icon routerLink="/protected/admin/manage-car/add-car">add_circle</mat-icon>
  </h3>

  <mat-chip-list>
    <mat-chip>Rennes</mat-chip>
    <mat-chip>Nantes</mat-chip>
    <mat-chip>Niort</mat-chip>
    <mat-chip>Quimper</mat-chip>
  </mat-chip-list>

  <div fxLayout="column" fxLayout.gt-sm="row wrap"
       fxLayoutAlign.gt-sm="space-around" fxLayoutAlign="none center" >
    <mat-card class="mat-card" *ngFor="let car of cars;" fxLayout="row" fxFlex.gt-sm="30"
                                                 fxLayoutAlign="center">
      <div fxFlex="20" fxLayoutAlign="space-around center">
        <img mat-card-image src="../../../../../assets/img/carDefault.jpg" alt="car default"
             (click)="onClickCar(car)">
      </div>

      <div class="nameMatricule" fxFlex="60" fxLayout="column"
           fxLayoutAlign="space-around " (click)="onClickCar(car)">
        <h4>{{ car.name }}</h4>
        <H5>{{ car.matricule }}</H5>
      </div>
      <div class="nameMatricule" fxFlex fxLayout="column"
           fxLayoutAlign="space-around center " (click)="onClickCar(car)">
        <mat-icon (click)="onClickDelete(car)">delete</mat-icon>
      </div>
    </mat-card>
  </div>

</mat-list>
