
<mat-list>
  <h3 mat-subheader>
    Listes des voitures
    <!--Bouton plus pour ajouter un lieu-->
    <mat-icon mat-list-icon routerLink="/protected/admin/manage-car/add-car">add_circle</mat-icon>
  </h3>
<!--  <mat-list-item *ngFor="let place of places;">-->
<!--    <mat-icon mat-list-icon>place</mat-icon>-->
<!--    <h4 mat-line (click)="onClickPlace(place)">{{ place.name }}</h4>-->
<!--    &lt;!&ndash;Adresse du lieu formaté avec la rue, le code postal et la ville&ndash;&gt;-->
<!--    <p mat-line (click)="onClickPlace(place)">{{ place | formatAddress }}</p>-->
<!--    &lt;!&ndash;Bouton de suppression d'un lieu&ndash;&gt;-->
<!--    <mat-icon (click)="onClickDelete(place)">delete</mat-icon>-->
<!--  </mat-list-item>-->
</mat-list>
