.pageListCar {
  background-color: #e8e8e8;
  min-width: 100vw;
  min-height: 100vh;
  padding: 10px;

}
.mat-card {
  margin : 20px 20px 0 20px;
  padding: 0;

  .mat-card-image,  .mat-card-image:first-child {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
  }


  .nameMatricule {
    padding-left: 15px;

  }
}
