
<mat-card class="mat-card" *ngFor="let car of cars;" fxLayout="row" fxFlex.gt-sm="30"
          class="card">
  <!--  {{ car|json}}-->
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon mat-list-icon color="accent">directions_car</mat-icon>
    </div>
    <div class="nameMatricule" fxFlex="60" fxLayout="column">
      <mat-card-title>{{ car.matricule }}</mat-card-title>
      <mat-card-subtitle class="card-subtitle">{{ car.carBrand.brandName }}
        - {{ car.carModel.modelName }}</mat-card-subtitle>
    </div>
    <div class="nameMatricule" fxFlex fxLayout="column"
         fxLayoutAlign="space-around center " (click)="onClickCar(car)">
      <mat-icon (click)="onClickDelete(car)">delete</mat-icon>
    </div>
  </mat-card-header>

</mat-card>


<!--Element de la même taille que la zone de recherche-->
<!--Permet de créer un espace en bas de page pour que la fin de la liste des places ne chevauche pas l'input search fixed-->
<mat-form-field class="form-field-hidden">
  <input matInput>
</mat-form-field>

<!--Recherche-->
<mat-form-field appearance="fill" class="search-form" color="primary">
  <mat-label>Rechercher</mat-label>
  <input matInput placeholder="3 caractères minimum" type="search" (input)="onInputSearch($event.target.value)">
</mat-form-field>


<!--Bouton plus pour ajouter un lieu-->
<button mat-fab color="primary" class="btn-add" (click)="onClickAddPlace()">
  <mat-icon>add</mat-icon>
</button>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
  <mat-icon>close</mat-icon>
</button>

