<mat-toolbar class="menu-toolbar" color="primary">
    <button mat-icon-button (click)="onClickMenuIcon()" onclick="this.blur()" *ngIf="user"><!--(click)="sidenav.toggle()"-->
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title | firstLetterCase }}</span>
    <span class="spacer"></span>
</mat-toolbar>

<!--Toolbar static cachée sous la toolbar fixed pour que le haut de la page n'apparaisse pas sous la toolbar du menu-->
<!--La toolbar caché est supprimé sur la page de login (page centré au milieu) pour éviter d'avoir un ascenseur-->
<mat-toolbar *ngIf="isToolbar"></mat-toolbar>
