@import '~@angular/material/theming';
@include mat-core();

$mat-yellow-custom: (
  50 : #fff5e0,
  100 : #ffe6b3,
  200 : #ffd580,
  300 : #ffc44d,
  400 : #ffb826,
  500 : #ffab00,
  600 : #ffa400,
  700 : #ff9a00,
  800 : #ff9100,
  900 : #ff8000,
  A100 : #ffffff,
  A200 : #fff8f2,
  A400 : #ffdcbf,
  A700 : #ffcea6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-grey-custom: (
  50 : #eaebec,
  100 : #caced0,
  200 : #a7adb1,
  300 : #848c91,
  400 : #69747a,
  500 : #4f5b62,
  600 : #48535a,
  700 : #3f4950,
  800 : #364046,
  900 : #262f34,
  A100 : #80ceff,
  A200 : #4dbbff,
  A400 : #1aa7ff,
  A700 : #019dff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$app-primary: mat-palette($mat-yellow-custom, 500, 100, 700); //base-palette, default, lighter, darker
$app-accent: mat-palette($mat-grey-custom, 500, 100, 700); //base-palette, default, lighter, darker
$app-warn: mat-palette($mat-red);

$custom-gfv-front-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($custom-gfv-front-theme);
