<form [formGroup]="userForm">

  <!--Nom -->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label color="primary">Nom</mat-label>
    <input matInput [formControl]="lastNameFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="lastNameFormControl.hasError('required') && (lastNameFormControl.dirty || lastNameFormControl.touched)">
      <span>Le nom doit être saisie</span>
    </mat-error>
  </mat-form-field>

  <!--Prenom-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label>Prenom</mat-label>
    <input matInput [formControl]="firstNameFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="firstNameFormControl.hasError('required') && (firstNameFormControl.dirty || firstNameFormControl.touched)">
      <span>Le prénom doit être saisie</span>
    </mat-error>
  </mat-form-field>

  <!--Login-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label>Login</mat-label>
    <input matInput [formControl]="loginFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="loginFormControl.hasError('required') && (loginFormControl.dirty || loginFormControl.touched)">
      <span>Le Login doit être saisie</span>
    </mat-error>
  </mat-form-field>

  <!--Email-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label>E-mail</mat-label>
    <input matInput [formControl]="emailFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="emailFormControl.hasError('required') && (emailFormControl.dirty || emailFormControl.touched)">
      <span>L'e-mail doit être saisie</span>
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('email') && (emailFormControl.dirty || emailFormControl.touched)">
      <span>Merci de saisir une adresse e-mail valide.</span>
    </mat-error>
  </mat-form-field>

  <!--Phone-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label>Téléphone</mat-label>
    <input matInput [formControl]="phoneNumberFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="phoneNumberFormControl.hasError('required') && (phoneNumberFormControl.dirty || phoneNumberFormControl.touched)">
      <span>Le téléphone doit être saisie</span>
    </mat-error>
    <mat-error *ngIf="phoneNumberFormControl.hasError('pattern') && (phoneNumberFormControl.dirty || phoneNumberFormControl.touched)">
      <span>Merci de saisir un numéro de téléphone valide sans espaces.</span>
    </mat-error>
  </mat-form-field>

  <!--Admin-->
  <div fxLayout="row" fxFlex.gt-sm="40" fxLayoutAlign="space-evenly center">
    <mat-checkbox [formControl]="adminFormControl" [disabled]="formMode == 'show' ? true : false" >Administrateur</mat-checkbox>
  </div>

</form>

<div fxLayout="row" fxFlex.gt-sm="40" fxLayoutAlign="space-evenly center">

  <!--Bouton activer-->
  <button mat-raised-button type="submit" class="btn btn-default" (click)="onClickActive()"
          [fxHide]="!ShowActiver" fxFlex="45">Activer
  </button>

</div>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
  <mat-icon>close</mat-icon>
</button>

<!--Bouton de suppression-->
<button mat-fab *ngIf="formMode == 'show' && ShowDelete" color="primary" class="btn-delete" (click)="onClickDelete()" >
  <mat-icon>delete</mat-icon>
</button>

<!--Bouton de validation du formulaire-->
<button mat-fab color="primary" class="btn-done" [disabled]="userForm.invalid" (click)="onClickBtnUser(formMode)">
  <mat-icon *ngIf="formMode == 'create' || formMode == 'update'">done</mat-icon>
  <mat-icon *ngIf="formMode == 'show'">edit</mat-icon>
</button>
