<mat-card *ngFor="let brand of brandsFiltered;" (click)="onClickBrand(brand)" class="card">
    <mat-card-header>
        <div mat-card-avatar><mat-icon mat-list-icon color="accent">label_important</mat-icon></div>
        <mat-card-title>{{ brand?.brandName }}</mat-card-title>
    </mat-card-header>
</mat-card>

<!--Element de la même taille que la zone de recherche-->
<!--Permet de créer un espace en bas de page pour que la fin de la liste ne chevauche pas l'input search fixed-->
<mat-form-field class="form-field-hidden">
    <input matInput>
</mat-form-field>

<!--Recherche-->
<mat-form-field appearance="fill" class="search-form" color="primary" [ngClass]="isMobile ? 'search-form-big' : 'search-form-small'">
    <mat-label>Rechercher</mat-label>
    <input matInput placeholder="3 caractères minimum" type="search" (input)="onInputSearch($event.target.value)">
</mat-form-field>

<!--Bouton plus pour ajouter un lieu-->
<button mat-fab color="primary" class="btn-add" (click)="onClickAddBrand()">
    <mat-icon>add</mat-icon>
</button>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
    <mat-icon>close</mat-icon>
</button>
