@import './../../../../../styles.scss';

.container-flex {
    width: 200px;
    //Utilisation du thème de la couleur primary définit dans Angular Material
    background-color: mat-color($app-primary);;
}

.content-flex {
    width: 25px;
    //Utilisation du thème de la couleur accent définit dans Angular Material
    background-color: mat-color($app-accent);;
}

.exemple-mat-icon {
    border: solid 1px black;
}

.mat-icon {
    font-size: 50px;
}