.btn-add {
  position: fixed;
  right: 10px;
  bottom: 30px;
}

.card {
  cursor: pointer;
}

.status_ok {
  color: green;
}

.status_waiting {
  color: orange;
}

.status_refused {
  color: red;
}

.btn-close {
  position: fixed;
  top: 25px;
  right: 10px;
  z-index: 20;
}
.search-form {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: grey;
  margin-bottom: -1.25em; //Supprime la marge par défaut (/!\ empêche l'utilisation des messages d'erreurs)
}

