<div *ngFor="let ride of ridessFiltered;">
  <mat-card class="card my-3" *ngIf="ride.status !== 'COMPLETED'" (click)="onClickRide(ride)">
    <mat-card-header>
      <div mat-card-avatar fxLayoutAlign="center center">
        <mat-icon
          [ngClass]="{
          'status_ok': ride.status === 'CONFIRMED',
          'status_waiting': ride.status === 'VALIDATION_PENDING',
          'status_refused': ride.status === 'REJECTED'
        }" mat-list-icon>lens</mat-icon>
      </div>
      <mat-card-title *ngIf="ride.arrivalSite.siteId != ride.departureSite.siteId">De {{ ride.departureSite.siteName }} à {{ ride.arrivalSite.siteName }}</mat-card-title>
      <mat-card-title *ngIf="ride.arrivalSite.siteId == ride.departureSite.siteId">Départ et retour à {{ ride.departureSite.siteName }}</mat-card-title>
      <mat-card-subtitle *ngIf="ride.arrivalDate != ride.departureDate">Départ le {{ ride.departureDate | formatDateFr: "YYYY-MM-DD" }} et retour le {{ ride.arrivalDate | formatDateFr: "YYYY-MM-DD"  }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="ride.arrivalDate == ride.departureDate">Départ et retour le {{ ride.departureDate | formatDateFr: "YYYY-MM-DD" }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>


<!--Recherche-->
<mat-form-field appearance="fill" class="search-form" color="primary">
  <mat-label>Rechercher</mat-label>
  <input matInput placeholder="3 caractères minimum" type="search" (input)="onInputSearch($event.target.value)">
</mat-form-field>



<!--Bouton plus pour ajouter un lieu-->
<button mat-fab color="primary" class="btn-add" (click)="onClickAddRide()">
  <mat-icon>add</mat-icon>
</button>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
  <mat-icon>close</mat-icon>
</button>
