<form [formGroup]="placeForm">

    <!--Nom du lieu-->
    <mat-form-field class="input-form" appearance="fill" color="primary">
        <mat-label color="primary">Nom du lieu</mat-label>
        <input matInput [formControl]="nameFormControl" [readonly]="formMode == 'show' ? true : false">
        <mat-error *ngIf="nameFormControl.hasError('required') && (nameFormControl.dirty || nameFormControl.touched)">
            <span>Le nom du lieu doit être saisie</span>
        </mat-error>
    </mat-form-field>

    <!--Adresse-->
    <mat-form-field class="input-form" appearance="fill" color="primary">
        <mat-label>Adresse</mat-label>
        <input matInput [formControl]="addressFormControl" [readonly]="formMode == 'show' ? true : false">
        <mat-error *ngIf="addressFormControl.hasError('required') && (addressFormControl.dirty || addressFormControl.touched)">
            <span>L'adresse doit être saisie</span>
        </mat-error>
    </mat-form-field>

    <!--Code postal-->
    <mat-form-field class="input-form" appearance="fill" color="primary" *ngIf="formMode == 'create'">
        <mat-label>Code postal</mat-label>
        <input matInput [formControl]="zipCodeFormControl">
        <mat-error *ngIf="zipCodeFormControl.hasError('required') && (zipCodeFormControl.dirty || zipCodeFormControl.touched)">
            <span>Le code postal doit être saisie</span>
        </mat-error>
    </mat-form-field>

    <!--Ville-->
    <mat-form-field class="input-form" appearance="fill" color="primary" *ngIf="formMode == 'create'">
        <mat-label>Ville</mat-label>
        <input matInput [formControl]="cityFormControl">
        <mat-error *ngIf="cityFormControl.hasError('required') && (cityFormControl.dirty || cityFormControl.touched)">
            <span>La ville doit être saisie</span>
        </mat-error>
    </mat-form-field>
    
    <!--Téléphone-->
    <mat-form-field class="input-form" type="number" appearance="fill" color="primary">
        <mat-label>Téléphone</mat-label>
        <input matInput [formControl]="phoneFormControl" [readonly]="formMode == 'show' ? true : false">
        <mat-error *ngIf="phoneFormControl.hasError('required') && (phoneFormControl.dirty || phoneFormControl.touched)">
            <span>Le numéro de téléphone doit être saisie</span>
        </mat-error>
    </mat-form-field>

</form>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
    <mat-icon>close</mat-icon>
</button>

<!--Bouton de suppression-->
<button mat-fab *ngIf="formMode == 'show'" color="primary" class="btn-delete" (click)="onClickDelete()">
    <mat-icon>delete</mat-icon>
</button>

<!--Bouton de validation du formulaire-->
<button mat-fab color="primary" class="btn-done" [disabled]="placeForm.invalid" (click)="onClickBtnPlace(formMode)">
    <mat-icon *ngIf="formMode == 'create' || formMode == 'update'">done</mat-icon>
    <mat-icon *ngIf="formMode == 'show'">edit</mat-icon>
</button>
