<!--<router-outlet></router-outlet>-->
<mat-sidenav-container class="main-container">

    <mat-sidenav #sidenav>

        <app-menu-content
        (hideMenu)=onHideMenu()>
        </app-menu-content>

    </mat-sidenav>

    <mat-sidenav-content>

        <app-menu-header
        (showMenu)=onShowMenu()>
        </app-menu-header>

        <div class="content" [ngClass]="{'content-height': !isToolbar}">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
