<form [formGroup]="carForm" fxLayout="row wrap">

  <!--matricule-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label color="primary">Matricule</mat-label>
    <input matInput [formControl]="matriculeFormControl" [readonly]="formMode == 'show' ? true : false" required>
    <mat-error
      *ngIf="matriculeFormControl.hasError('required') && (matriculeFormControl.dirty || matriculeFormControl.touched)">
      <span>Le matricule doit être saisie</span>
    </mat-error>
    <mat-error
      *ngIf="matriculeFormControl.hasError('patterpatternn') && (matriculeFormControl.dirty || matriculeFormControl.touched)">
      <span>Pattern type : AA-111-AA </span>
    </mat-error>
  </mat-form-field>

  <!--Power && Kilometrage  -->
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between">
    <!--Power-->
    <mat-form-field fxFlex="45" class="input-form" appearance="fill" color="primary">
      <mat-label>Puissance</mat-label>
      <input matInput [formControl]="powerFormControl" required [readonly]="formMode == 'show' ? true : false">
      <mat-error
        *ngIf="( powerFormControl.hasError('pattern') )  && (powerFormControl.dirty || powerFormControl.touched)">
        <span>La puissance doit être saisie</span>
      </mat-error>
    </mat-form-field>

    <!--Kilometrage-->
    <mat-form-field fxFlex="45" class="input-form" appearance="fill" color="primary">
      <mat-label>Kilometrage</mat-label>
      <input matInput [formControl]="odometerFormControl" required>
      <mat-error
        *ngIf="odometerFormControl.hasError('pattern') && (odometerFormControl.dirty || odometerFormControl.touched)">
        <span>Le kilometrage doit être saisie</span>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label>Vin (17 c.)</mat-label>
    <input matInput [formControl]="vinFormControl">
    <mat-error
      *ngIf="vinFormControl.hasError('required') && (vinFormControl.dirty || vinFormControl.touched)">
      <span>Le Vin doit être saisie</span>
    </mat-error>
    <mat-error
      *ngIf="vinFormControl.hasError('pattern') && (matriculeFormControl.dirty || matriculeFormControl.touched)">
      <span>17 caractères (sans caractères spéciaux) </span>
    </mat-error>
  </mat-form-field>


  <!--places && site  -->
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between">

    <!--places-->
    <mat-form-field fxFlex="45" class="input-form" appearance="fill" color="primary">
      <mat-label>Nombre de places</mat-label>
      <input matInput [formControl]="placesFormControl">
    </mat-form-field>

    <!--site de rattachement  de la  voiture-->
    <mat-form-field class="input-form" fxFlex="45" appearance="fill" color="primary">
      <mat-label>Site</mat-label>
      <!--En mode lecture, affichage d'un input non modifiable-->
      <!--Raison: la liste déroulante à une propriété disabled mais pas readonly-->
      <input matInput
             *ngIf="formMode == 'show'"
             [placeholder]="car?.carSite?.siteName"
             [formControl]="siteFormControl"
             readonly
      >
      <!--En mode modification, affichage d'une liste déroulante avec valeurs modifiables-->
      <!--Nb: La valeur sélectionnée par défaut est gérée par la fonction compareWithFn-->
      <mat-select
        *ngIf="formMode != 'show'"
        [formControl]="siteFormControl"
        [compareWith]="compareWithFnSite"
        (selectionChange)="onSelectionChangeSite($event.value)"
        required
      ><!--[(ngModel)]="selectedBrand" (selectionChange)="onChangeBrand($event)"-->
        <mat-option *ngFor="let site of sites" [value]="site">
          {{ site?.siteName }}<!--{{ brand | json }}-->
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="siteFormControl.hasError('required') && (siteFormControl.dirty || brandFormControl.touched)">
        <span>Le site doit être saisie</span>
      </mat-error>
    </mat-form-field><!--[value]="brand"-->

  </div>

  <!--Marque et model  -->
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between">
    <!--Marque rattachée au modèle de voiture-->
    <mat-form-field class="input-form" fxFlex="45" appearance="fill" color="primary">
      <mat-label>Marque</mat-label>
      <!--En mode lecture, affichage d'un input non modifiable-->
      <!--Raison: la liste déroulante à une propriété disabled mais pas readonly-->
      <input matInput
             *ngIf="formMode == 'show'"
             [placeholder]="car?.carBrand?.brandName"
             [formControl]="brandFormControl"
             readonly
      >
      <!--En mode modification, affichage d'une liste déroulante avec valeurs modifiables-->
      <!--Nb: La valeur sélectionnée par défaut est gérée par la fonction compareWithFn-->
      <mat-select
        *ngIf="formMode != 'show'"
        [formControl]="brandFormControl"
        [compareWith]="compareWithFn"
        (selectionChange)="onSelectionChangeBrand($event.value)"
        required
      ><!--[(ngModel)]="selectedBrand" (selectionChange)="onChangeBrand($event)"-->
        <mat-option *ngFor="let brand of brands" [value]="brand">
          {{ brand?.brandName }}<!--{{ brand | json }}-->
        </mat-option>
      </mat-select>
      <mat-error *ngIf="brandFormControl.hasError('required') && (brandFormControl.dirty || brandFormControl.touched)">
        <span>La marque rattachée au modèle doit être saisie</span>
      </mat-error>
    </mat-form-field><!--[value]="brand"-->

    <!--Model de voiture-->
    <mat-form-field class="input-form" fxFlex="45" appearance="fill" color="primary">
      <mat-label>Model</mat-label>
      <!--En mode lecture, affichage d'un input non modifiable-->
      <!--Raison: la liste déroulante à une propriété disabled mais pas readonly-->
      <input matInput
             *ngIf="formMode == 'show'"
             [placeholder]="car?.carModel?.modelName"
             [formControl]="modelFormControl"
             readonly
      >
      <!--En mode modification, affichage d'une liste déroulante avec valeurs modifiables-->
      <!--Nb: La valeur sélectionnée par défaut est gérée par la fonction compareWithFn-->
      <mat-select
        *ngIf="formMode != 'show'"
        [formControl]="modelFormControl"
        [compareWith]="compareWithFnModel"
        (selectionChange)="onSelectionChangeModel($event.value)"
        required
      ><!--[(ngModel)]="selectedBrand" (selectionChange)="onChangeBrand($event)"-->
        <mat-option *ngFor="let model of models" [value]="model">
          {{ model?.modelName }}<!--{{ brand | json }}-->
        </mat-option>
      </mat-select>
      <mat-error *ngIf="modelFormControl.hasError('required') && (modelFormControl.dirty || modelFormControl.touched)">
        <span>La model doit être saisie</span>
      </mat-error>
    </mat-form-field><!--[value]="brand"-->
  </div>

  <!--2 date -->
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between">

    <mat-form-field fxFlex="45">
      <mat-label>Assurance</mat-label>
      <input matInput [matDatepicker]="picker1" [formControl]="insuranceFormControl"
             [readonly]="formMode == 'show' ? true : false" required
             [min]="todayDate">
      <mat-datepicker-toggle matSuffix [for]="picker1" *ngIf="formMode != 'show'"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="45">
      <mat-label>Révision</mat-label>
      <input matInput [matDatepicker]="picker2" [formControl]="serviceFormControl"
             [readonly]="formMode == 'show' ? true : false" required
             [min]="todayDate">
      <mat-datepicker-toggle matSuffix [for]="picker2" *ngIf="formMode != 'show'"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>


</form>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
  <mat-icon>close</mat-icon>
</button>

<!--Bouton de suppression-->
<button mat-fab *ngIf="formMode == 'show'" color="primary" class="btn-delete" (click)="onClickDelete()">
  <mat-icon>delete</mat-icon>
</button>

<!--Bouton de validation du formulaire-->
<button mat-fab color="primary" class="btn-done" [disabled]="carForm.invalid" (click)="onClickBtnCar(formMode)">
  <mat-icon *ngIf="formMode == 'create' || formMode == 'update'">done</mat-icon>
  <mat-icon *ngIf="formMode == 'show'">edit</mat-icon>
</button>

