
<form [formGroup]="carForm">

  <!--Nom du lieu-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label color="primary">Nom du lieu</mat-label>
    <input matInput [formControl]="matriculeFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="matriculeFormControl.hasError('required') && (matriculeFormControl.dirty || matriculeFormControl.touched)">
      <span>Le nom du lieu doit être saisie</span>
    </mat-error>
  </mat-form-field>

  <!--Power-->
  <mat-form-field class="input-form" appearance="fill" color="primary">
    <mat-label>Adresse</mat-label>
    <input matInput [formControl]="powerFormControl" [readonly]="formMode == 'show' ? true : false">
    <mat-error *ngIf="powerFormControl.hasError('required') && (powerFormControl.dirty || powerFormControl.touched)">
      <span>L'adresse doit être saisie</span>
    </mat-error>
  </mat-form-field>

  <!--Code postal-->
  <mat-form-field class="input-form" appearance="fill" color="primary" *ngIf="formMode == 'create'">
    <mat-label>Code postal</mat-label>
    <input matInput [formControl]="odometerFormControl">
    <mat-error *ngIf="odometerFormControl.hasError('required') && (odometerFormControl.dirty || odometerFormControl.touched)">
      <span>Le code postal doit être saisie</span>
    </mat-error>
  </mat-form-field>


</form>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
  <mat-icon>close</mat-icon>
</button>

<!--Bouton de suppression-->
<button mat-fab *ngIf="formMode == 'show'" color="primary" class="btn-delete" (click)="onClickDelete()">
  <mat-icon>delete</mat-icon>
</button>

<!--Bouton de validation du formulaire-->
<button mat-fab color="primary" class="btn-done" [disabled]="carForm.invalid" (click)="onClickBtnCar(formMode)">
  <mat-icon *ngIf="formMode == 'create' || formMode == 'update'">done</mat-icon>
  <mat-icon *ngIf="formMode == 'show'">edit</mat-icon>
</button>

