<form [formGroup]="brandForm">

    <!--Nom de la marque-->
    <mat-form-field class="input-form" appearance="fill" color="primary">
        <mat-label color="primary">Nom de la marque</mat-label>
        <input matInput [formControl]="nameFormControl" [readonly]="formMode == 'show' ? true : false">
        <mat-error *ngIf="nameFormControl.hasError('required') && (nameFormControl.dirty || nameFormControl.touched)">
            <span>Le nom de la marque doit être saisie</span>
        </mat-error>
    </mat-form-field>

</form>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
    <mat-icon>close</mat-icon>
</button>

<!--Bouton de suppression-->
<button mat-fab *ngIf="formMode == 'show'" color="primary" class="btn-delete" (click)="onClickDelete()">
    <mat-icon>delete</mat-icon>
</button>

<!--Bouton de validation du formulaire-->
<button mat-fab color="primary" class="btn-done" [disabled]="brandForm.invalid" (click)="onClickBtnBrand(formMode)">
    <mat-icon *ngIf="formMode == 'create' || formMode == 'update'">done</mat-icon>
    <mat-icon *ngIf="formMode == 'show'">edit</mat-icon>
</button>
