.search-form {
    //width: 100%;
    //width: 30%;
    position: fixed;
    bottom: 0px;
    //left: 0px;
    right: 0;
    background-color: grey;
    margin-bottom: -1.25em; //Supprime la marge par défaut (/!\ empêche l'utilisation des messages d'erreurs)
}

.search-form-big {
    width: 100%;
}

.search-form-small {
    width: 30%;
    border-radius: 10px 0px 0px 0px;
}

.form-field-hidden {
    visibility: hidden;
    margin-bottom: -1.25em;
}

.btn-add {
    position: fixed;
    right: 10px;
    bottom: 30px;
}

.card {
    cursor: pointer;
    margin-bottom: 10px;
}

.card-subtitle {
    margin-bottom: 0px
}

.btn-close {
    position: fixed;
    top: 25px;
    right: 10px;
    z-index: 20;
}
