<form [formGroup]="rideForm">

  <div fxLayout="column" margin="auto" width="90">
    <h3 *ngIf="formMode == 'create'">Emprunter un véhicule</h3>
    <h3 *ngIf="formMode != 'create'">Votre trajet :</h3>

    <div fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="45" fxLayout="column">
        <!-- Site de départ -->
        <!--Read mode-->
        <mat-form-field *ngIf="formMode == 'show'">
          <mat-label>Site de départ</mat-label>
          <input matInput
                
                [placeholder]="ride?.departureSite?.siteName"
                [formControl]="departureSiteFormControl"
                readonly
          >
        </mat-form-field>
        <!--Update mode-->
        <mat-form-field *ngIf="formMode != 'show'">
          <mat-label>Site de départ</mat-label>
          <mat-select
            (selectionChange)="onSelectionChangeDepartureSite($event.value)"
            [formControl]="departureSiteFormControl"
            [compareWith]="compareWithFnDepartureSite"
            required
          >
            <mat-option *ngFor="let site of sites" [value]="site">
              {{ site?.siteName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="departureSiteFormControl.hasError('required') && (departureSiteFormControl.dirty || departureSiteFormControl.touched)">
            <span>Le site doit être saisie</span>
          </mat-error>
        </mat-form-field>

        <!-- Date de départ -->
        <mat-form-field>
          <mat-label>Date de départ</mat-label>
          <input [matDatepicker]="departureDate" matInput required
                 [readonly]="formMode == 'show'" [formControl]="departureDateFormControl"
          >
          <mat-datepicker-toggle [for]="departureDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #departureDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="45" fxLayout="column">
        <!-- Site d'arivée -->
        <mat-form-field *ngIf="formMode == 'show'">
          <mat-label>Site d'arrivée</mat-label>
          <input matInput
                 [placeholder]="ride?.arrivalSite?.siteName"
                 [formControl]="arrivalSiteFormControl"
                 readonly
          >
        </mat-form-field>
        <mat-form-field *ngIf="formMode != 'show'">
          <mat-label>Site d'arrivée</mat-label>
          <mat-select
            [formControl]="arrivalSiteFormControl"
            (selectionChange)="onSelectionChangeArrivalSite($event.value)"
            [compareWith]="compareWithFnArrivalSite"
          >
            <mat-option *ngFor="let site of sites" [value]="site">
              {{ site?.siteName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date d'arrivée -->
        <mat-form-field>
          <mat-label>Date d'arrivée</mat-label>
          <input [matDatepicker]="arrivalDate" matInput
                 [readonly]="formMode == 'show'" [formControl]="arrivalDateFormControl"
          >
          <mat-datepicker-toggle [for]="arrivalDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #arrivalDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Véhicule choisi -->
    <mat-form-field *ngIf="formMode == 'show'" class="input-form">
      <mat-label>Véhicule choisi</mat-label>
      <input
        matInput
        [placeholder]="ride?.car?.carBrand?.brandName"
        [formControl]="carFormControl"
        readonly
      >
    </mat-form-field>
    <mat-form-field *ngIf="formMode != 'show'">
      <mat-label>Véhicule choisi</mat-label>
      <mat-select
        (selectionChange)="onSelectionChangeCar($event.value)"
        [formControl]="carFormControl"
        [compareWith]="compareWithFnCar"
        class="input-form"
        required
      >
        <mat-option *ngFor="let car of cars" [value]="car">
          {{ car.carBrand.brandName + " " + car.carModel.modelName }} {{ car?.matricule | uppercase }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="carFormControl.hasError('required') && (carFormControl.dirty || carFormControl.touched)">
        <span>Un véhicule doit être saisie</span>
      </mat-error>
    </mat-form-field>

    <!-- Description  -->
    <mat-form-field class="input-form">
      <mat-label>Commentaire :</mat-label>
      <textarea matInput [formControl]="descriptionFormControl"></textarea>
    </mat-form-field>
  </div>
</form>

<!--Bouton de retour-->
<button mat-fab color="accent" class="btn-close" (click)="onClickClose()">
  <mat-icon>close</mat-icon>
</button>

<!--Bouton de suppression-->
<button mat-fab *ngIf="formMode == 'show'" color="primary" class="btn-delete" (click)="onClickDelete()">
  <mat-icon>delete</mat-icon>
</button>

<!--Bouton de validation du formulaire-->
<button mat-fab color="primary" class="btn-done" [disabled]="rideForm.invalid" (click)="onClickBtnRide(formMode)">
  <mat-icon *ngIf="formMode == 'create' || formMode == 'update'">done</mat-icon>
  <mat-icon *ngIf="formMode == 'show'">edit</mat-icon>
</button>
