.btn-close {
  position: fixed;
  top: 25px;
  right: 10px;
  z-index: 20;
}

.btn-delete {
  position: fixed;
  right: 10px;
  // 10px entre le bas de l'écran et le bouton "done" + 56px de hauteur du bouton 'done' + 10px de marge entre les deux boutons = 76px
  bottom: 76px;
  z-index: 20;
}
